In [ ]:
!pip install scikit-surprise

Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.10/dist-packages (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.3.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.11.4)

In [ ]:
import pandas as pd
from surprise import SVD
from surprise import Dataset
from surprise import Reader

In [ ]:
data = pd.read_csv("preprocessed_review.csv")

In [ ]:
# Create a Reader object for the Surprise library
reader = Reader(rating_scale=(0, 100))

In [ ]:
# Convert data to Surprise dataset
surprise_data = Dataset.load_from_df(data[['직무, 지역', '회사명', '총점']], reader)

In [ ]:
# Use the entire dataset for training
trainset = surprise_data.build_full_trainset()

In [ ]:
# Create an SVD model
model = SVD()

In [ ]:
# Train the model
model.fit(trainset)

In [ ]:
# User ratings
ex_ratings = pd.DataFrame({'회사명': ['CJ씨푸드', 'LG전자'], '평점': ['10', '80']})

In [ ]:
# List of companies rated by the example user
rated_companies = ex_ratings['회사명'].tolist()

In [ ]:
# List of companies not rated by the example user
unrated_companies = [company for company in data['회사명'].unique() if company not in rated_companies]

In [ ]:
# Predict ratings for companies not rated by the example user
predictions = [(company, model.predict('직무, 지역', company).est) for company in unrated_companies]

In [ ]:
# Convert the prediction results to a DataFrame
recommendations_df = pd.DataFrame(predictions, columns=['회사명', '평점'])

In [ ]:
# Sort recommendations by predicted ratings in descending order and select the top 10
top_n_recommendations = recommendations_df.sort_values(by='평점', ascending=False).head(10)

In [ ]:
print(top_n_recommendations)

             회사명         평점
320        스마트전자  59.857191
783   연세고운미소치과의원  59.014777
1799      한국전력기술  58.923883
1661      한국남동발전  58.854580
654       에스피씨삼립  58.722622
1678      한국동서발전  58.557928
124       부산교통공사  58.518713
385       신용보증기금  58.505294
834          오존텍  58.493545
61         바디텍메드  58.345328