In [8]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity

In [9]:
data = pd.read_csv("preprocessed_spec.csv")

In [10]:
user_spec = {
    '평균 학점': 3.72,
    '평균 토익점수': 833,
    '평균 외국어 개수': 1.2,
    '평균 자격증 개수': 2.2,
    '평균 해외경험 횟수': 1.3,
    '평균 인턴경험 횟수': 1.3,
    '평균 수상 횟수': 2.2,
    '평균 봉사 횟수': 2
}
user_spec_df = pd.DataFrame(user_spec, index=[0])

In [11]:
# 필요한 컬럼만 추출
data_scaled = data.drop('기업명', axis=1)

In [12]:
# 데이터 스케일링
scaler = MinMaxScaler()
data_scaled = pd.DataFrame(scaler.fit_transform(data_scaled), columns=data_scaled.columns)
user_spec_scaled = scaler.transform(user_spec_df)

In [13]:
# 코사인 유사도 계산
cosine_sim = cosine_similarity(data_scaled, user_spec_scaled)

In [14]:
# 유사도 결과를 Series로 변환
sim_scores = pd.Series(cosine_sim.flatten())

# 유사도가 높은 순으로 정렬
sim_scores_sorted = sim_scores.sort_values(ascending=False)

# 유사도가 높은 상위 5개 인덱스 가져오기
top_indexes = sim_scores_sorted.iloc[:5].index

# 해당 인덱스의 기업명 가져오기
top_companies = data['기업명'].iloc[top_indexes]

print(top_companies)

0        삼성전자
275     웅진씽크빅
2925    한국마사회
764      한솔교육
48      롯데케미칼
Name: 기업명, dtype: object